/* Halaman penuh */
body {
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #f5f7fa; /* putih ke abu soft */
    position: relative;
    overflow: hidden;
}

/* Dekorasi lingkaran lembut */
.deko {
    position: absolute;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background: #e9edf2;
    filter: blur(80px);
    opacity: 0.8;
}

/* kiri atas */
.deko.d1 {
    top: -100px;
    left: -120px;
}

/* kanan bawah */
.deko.d2 {
    bottom: -120px;
    right: -120px;
}

/* Kartu login */
.kartu-login {
    background: #ffffff;
    padding: 40px 35px;
    width: 330px;

    border-radius: 18px;
    box-shadow: 0 25px 50px rgba(0,0,0,0.08);

    text-align: center;
    position: relative;
    z-index: 10; /* supaya di atas dekorasi */
}

/* Foto profil */
.kartu-login img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin-bottom: 18px;
    object-fit: cover;
}

/* Input */
.kartu-login input {
    width: 90%;
    padding: 12px;
    margin-bottom: 18px;

    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
}

/* Tombol */
.kartu-login button {
    width: 95%;
    padding: 12px;

    background-color: #222;
    color: white;
    border: none;
    border-radius: 8px;

    font-size: 15px;
    cursor: pointer;
    transition: 0.2s;
}

.kartu-login button:hover {
    background-color: #444;
}


